@media only screen and (max-width: 768px) {
  /* Supprime la barre de survol sous chaque lien en version mobile */
  .navbar .nav-link::after {
    content: none;
  }

  .hero-section {
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
  }

  .about-hero {
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }

  /* Footer styles */
  .footer {
    text-align: center;
    padding: 2rem 1rem;
  }

  .footer .footer-logo {
    margin: 0 auto 1rem auto;
    display: block;
  }

  .footer h5 {
    margin-top: 1.5rem;
    font-size: 1.1rem;
  }

  .footer .list-unstyled,
  .footer-links {
    margin: 0 auto;
    padding: 0;
  }

  .footer .list-unstyled li,
  .footer-links .list-inline-item {
    margin-bottom: 1rem;
  }

  .footer-bottom {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  /* Ajustement des titres */
  h1 {
    font-size: 2.5rem !important;
  }

  h2 {
    font-size: 2rem !important;
  }

  h3 {
    font-size: 1.8rem !important;
  }

  /* Info Text Section */
  .info-text {
    background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 5px;
    margin-bottom: 2rem;
  }

  .info-section {
    padding-bottom: 0;
  }

  .info-section .row {
    display: flex; /* Assurez-vous que .row utilise bien flex */
    flex-direction: column-reverse;
  }

  .info-image {
    height: 300px;
    width: auto; /* Conserve les proportions */
    object-fit: cover; /* Optionnel, selon l'effet souhaité */
  }
}
